@media (max-width: 440px){

   .header_nav{
      flex-direction: column;
   }
   .header_logo_img{
      padding-top: 30px;
      width: 110px;
   }

   .header_titulo{
      text-align: center;
      max-width: 290px;
      font-size: 30px;
   }

   .contenido_titulo{
      padding-top: 20px;
      font-size: 18px;
      height: 20px;
   }

   .main_inicio{
      height:  700px;
   }

   .contenido{
      max-width: 320px;
   }

   .contenido_bloque{
      max-width: 320px;
   }

   .contenido_bloque_s{
      box-shadow: 3px 12px 25px 3px rgba(0, 0, 0, 0.6);
   }


/*/////////////////////////////////////////////////////////////
interfaz Sedes*/
.contenido_pri{
   height: 1000px;
}
.header_tituloOP{
   font-size: 15px;
   width: 150px;
}
.headerOP_logo_img{
   width: 90px;
}
.headerOP_menu_img{
   width: 40px;
   top: 30px;
}
.headerOP_menu{
   top: 20px;
}
.div_subt h1{
   font-size: 25px ;
}

.subt_figure_img{
   width: 35px;
}
.contenido_pri_section ul{
   top: 90px;
   width: auto;
   height: auto;
   justify-content: center;
}

.contenido_pri_section li{
   width: 80px;
   height: 80px;
}
/*/////////////////////////////////////////////////////////////
interfaz Laboratorio de sistemas*/

.contenido_section_div h1{
   font-size: 25px;
   padding-left: 5px;
}
.contenido_section_div{
   align-items: center;
}
.figure_img{
   width: 40px;
}

.contenido_section{
   text-align: center;
}
.contenido_salas{
   max-width: 435px;
   height: 1610px;
}
.contenido_programas{
   top: 90px;
   width: auto;
   height: auto;
   justify-content: center;
   flex-direction: column;
}

.contenido_ubicap{
   width: 250px;
}

.caracteristicas{
   width: 250px;
   font-size: 13px;
}
.contenido_pri_s{
   height: 1010px;
}
.contenido_uc{
   width: auto;
   margin-left: 0px;
}
.contenido_programas_ul h3{
   top: 3px;
   left: -40px;
   font-size: 15px;
}
}

/*/////////////////////////////////////////////////////////////
interfaz Laboratorio de consulta software*/
.contenido_pri{
   height: 2950px;
}

.div_subt{
    height: 50px;
}

.ul_software{
   margin-top: 10px;
}

.search_table{
   width: 300px;
}

/*/////////////////////////////////////////////////////////////
interfaz Laboratorio de cada software*/

.contenido_soft{
   height: 1580px;
}


/*/////////////////////////////////////////////////////////////
interfaz Espesificaciones*/

.contenido_pri_esp{
   top:90px;
}
.contenido_pri_img{
  height: 200px;
}
.contenido_pri_img img{
  width: 240px;
}

.contenido_pri_section{
  height: auto;
}

.contenido_pri_esp{
   width: auto;
   flex-direction: column;
}
.contenido_pri_caracteristicas{
   width: auto;
   height: 380px;
}
.contenido_pri_caracteristicas ul{
   width: 300px;
}

.contenido_pri_caracteristicas li{
   width: 280px;
   height: 50px;
}